<!-- Render the post -->
<h1>{{singlePost.post_title}}</h1>
<p>{{formatDate singlePost.post_date_time}}{{#if (eq singlePost.Author.username session.username)}} Edit{{/if}}</p>
<h2>by {{singlePost.Author.username}}</h2>
<p>{{singlePost.post_content}}</p>

<!-- Render the comments -->
{{#if comments.length}}
  <h2>Comments</h2>
  {{#each comments}}
    <div>
      <p>{{this.comment_content}}</p>
      <p>{{this.Author.username}} - {{formatDate this.comment_date_time}}{{#if (eq this.Author.username ../session.username)}} Edit{{/if}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No comments yet.</p>
{{/if}}
