<!-- Render the post -->
<div class="card">
    <div class="card-header">
<h1 class="card-title">{{singlePost.post_title}}</h1>
    </div>
<p>{{formatDate singlePost.post_date_time}}{{#if (eq singlePost.Author.username session.username)}} <button data-postId="{{singlePost.id}}">Edit</button>{{/if}}</p>
<h2>by {{singlePost.Author.username}}</h2>
<p class="card-text">{{singlePost.post_content}}</p>

<div id="comments-section">
<!-- Render the comments -->
<div class="card">
  <h2>Comments</h2>

<form id="comment-form">
            
  <input type="hidden" name="postId" value="{{singlePost.id}}">
  <div class="row">
  <label for="comment">Add a comment:</label>
  <textarea id="commentText" name="commentText" required></textarea>
  </div> 
  <button type="submit">Submit</button>
</form>


{{#if comments.length}}
  {{#each comments}}
    <div class="card">
      <p id="card-text-{{this.id}}" class="card-text">{{this.comment_content}}</p>
      <p class="card-footer">{{this.Author.username}} - {{formatDate this.comment_date_time}}{{#if (eq this.Author.username ../session.username)}} <button data-commentId="{{this.id}}">Edit</button>{{/if}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No comments yet.</p>
{{/if}}

</div>
</div>
</div>
<script src="/js/post-comment.js"></script>
<script src="/js/edit-comment.js"></script>